
#head{
  color:greenyellow;
}
#top{
  color:deeppink;
}
#white{
  color:rgb(255, 0, 0);
}
#white{
  color:rgb(90, 72, 72);
}
.star{
  margin-top: 20px;
  width:20%;

}
#rk{
  color:white;
}
.fa-affiliatetheme{
  color:white;
}
.larg{
  font-size:40px;
  color:rgb(252, 30, 48);
}